body{
    background-color: rgb(248, 80, 80);
}
.container-1{
margin: 100px 40px;
margin-left: 12%;
background-color: rgb(36, 34, 34);
height: 500px;
width: 1200px;
overflow-wrap: break-word;

}

.text-content{
    margin-top: 20px;
    padding-top: 20px;
    height: 480px;
    width: 48%;
    margin: 10px;
    background-color:rgb(56, 53, 53);
    border-radius: 20px;
    float: left;
}

.login-form{
    margin-top: 20px;
    padding-top: 20px;
    height: 480px;
    width: 48%;
    margin: 10px;
    background-color:rgb(36, 34, 34);
    border-radius: 20px;
    float: right;
    
}

.sign-up input{
    width: 100px;
}

#signup-p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    margin-top: 50%;
}